
.header {
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #f4f7f6;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin: 50px auto;
  margin-top: 110px;
  transition: transform 0.3s ease;
  position: fixed;
}

.header:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.user-name{
  font-size: 40px;
  color: rgb(138, 15, 15);
  text-shadow: 1px 1px 1px green, 2px 2px 2px blue;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(15) 0s 1 normal both, blink 0.75s step-end infinite;
}

.user-dec{
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
  opacity: 0;
  animation: fadeIn 1s ease-in 0.2s forwards;
}

.my-pic {
  width: 200px;
  height: 210px;
  border: 2px solid blue;
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.header-link{
  text-decoration: none;
}
@media (max-width: 768px) {
  .header {
    width: 80%;
    padding: 40px 20px;
  }
  .my-pic {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}